<div id="<%= dom_id order_line %>">
  <p>
    <strong>Account:</strong>
    <%= order_line.account_id %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= order_line.order_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= order_line.product_id %>
  </p>

  <p>
    <strong>Variant:</strong>
    <%= order_line.variant_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= order_line.title %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= order_line.quantity %>
  </p>

</div>
